.grid {
    display: grid;
    grid-template:
        "grid__header grid__header" min-content
        "grid__content grid__content" auto
        "grid__footer grid__footer" min-content / auto;
    height: 100%;

    @include tablet-landscape {
        grid-template:
            "grid__header grid__header" min-content
            "grid__content grid__content" auto
            "grid__footer grid__footer" min-content / 250px auto;
    }

    &__header {
        background-color: $color-grey;
        grid-area: grid__header;
    }

    &__content {
        grid-area: grid__content;
    }

    &__footer {
        background-color: $color-grey;
        grid-area: grid__footer;
    }
}