$margin-content: 200px;

* {
    font-family: sans-serif;
}

.grid__header {
    .header {
        align-items: center;
        justify-content: space-between;
    }

    .button {
        border: 0;
        border-radius: 0;
    }

    .button-wrapper {
        .button {
            background-color: transparent;
            color: $color-white;
            margin: 0;

            &:hover {
                background-color: $color-grey-dark-4;
            }
        }
    }
}

.grid__carousel {

}

.grid__content {
    .title {
        color: $color-orange;
        font-size: 3rem;
        text-align: center;
    }

    .about {
        .flag {
            margin: 40px auto;
            display: grid;
            grid-column-gap: 10px;
            grid-template-columns: repeat(6, 1fr);

            img {
                max-width: 100%;
                height: auto;
            }
        }
    }

    .service {
        $border-radius: 8px;
        background-color: $color-grey-light-10;
        margin-top: $margin-content;
        padding: 50px 0;

        .card-wrapper {
            align-items: flex-start;
        }

        .title {
            color: $color-white
        }

        .card {
            &__header {
                background-color: $color-grey-light-8;
                border: 0;
                border-radius: $border-radius $border-radius 0 0;
            }

            &__body {
                background-color: $color-white;
                border: 0;
                border-radius: 0 0 $border-radius $border-radius;

                p {
                    text-align: left;
                }
            }

            &__header,
            &__body {
                border-color: $color-grey-light-8;
            }
        }

        svg {
            fill: $color-grey-light-8;
            height: 150px;
        }
    }

    .contact {
        margin-top: $margin-content;
    }
}